{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ search.expr }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
  <tr>
    <th><b>Model</b></th>
    <th><b>RoleId</b></th>
    <th><b>User</b></th>
    <th><b>Purpose</b></th>
  </tr>

  {% for r in roles %}
    <tr>
      <td><a href="/satellites/{{r.SatelliteId}}">{{r.Model}}</a></td>
      <td>{{ r.RoleId }}</td>
      <td>{{ r.User}}</td>
      <td>{{ r.Purpose}}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
